NEXT_PUBLIC_SUPABASE_URL=https://svmctqcdunvmxckqktxf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aAsgkKpMZ7uilyVgZfz-Cw__gMBfBpN
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=bookings@your-domain.com
RESEND_FROM_NAME=Omborokko Safaris
BOOKING_ADMIN_EMAILS=admin@your-domain.com
BOOKING_REPLY_TO_EMAIL=reservations@your-domain.com
